@font-face {
  font-family: "Lunchtype Medium";
  src: url(lunchtype24-medium-expanded-webfont.woff2);
}

@font-face {
  font-family: "Lunchtype Regular";
  src: url(lunchtype24-regular-expanded.ttf);
}
