@font-face {
  font-family: Terminal;
  src: url(./terminal-grotesque-webfont.woff);
}

@font-face {
  font-family: Terminal Open;
  src: url(./terminal-grotesque_open.otf);
}

@font-face {
  font-family: Savate;
  src: url(./savate-regular-webfont.woff);
}

@font-face {
  font-family: Savate;
  src: url(./savate-italique-webfont.woff);
  font-style: italic;
}
